@media (max-width: 1024px) {
	.table thead {
		display: none;
	}

	.table tbody tr {
		display: block;
		margin-bottom: 1rem;
		border-bottom: 2px solid #dee2e6;
	}

	.table tbody td {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem;
		white-space: normal;
	}

	.table tbody td::before {
		content: attr(data-label);
		font-weight: 600;
		color: #6c757d;
		flex-basis: 50%;
	}



	.table thead th:last-child {
		width: auto;
	}

	.table tbody tr td:last-child {
		padding: 0;
	}
}

.table thead th:last-child {
	width: 150px;
}

.table tbody tr td:last-child {
	padding: 0 15px;
}

.table tbody tr td {
	padding: 1rem;
}